@font-face {
    font-family: 'cmu_serifroman';
    src: url('cmunrm-webfont.woff') format('woff'),
         url('cmunrm-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
  body{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  .tight{
    margin: auto;
  }

  .lalign{
    text-align: left; 
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: 'cmu_serifroman', Arial, sans-serif;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'cmu_serifroman', Arial, sans-serif;
    font-weight: bold;
  }

  p{
    font-family: 'cmu_serifroman', Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
  }
  table{
    font-family: 'cmu_serifroman', Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
  }

  .papers{
    font-family: 'cmu_serifroman', Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: bold;  
  }
  .card-color-0{
    background-color: black;
  }
  .text-color-white{
    color: white;
    font-weight: bold; 
  }
  
  .link-color-1{
    color: #6772E5;
  }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  /*
   * Footer
   */

  .footer-font{
    font-family: 'cmu_serifroman', Arial, sans-serif;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
